# Ignore all environment files.
/.env*

# Ignore all logfiles.
/log/*
!/log/.keep

.vscode/
**/__pycache__/
**/.DS_Store
.qodo

# Ignore all wandb experiment data.
/wandb/*
!/wandb/.keep

# Ignore generated SQLite dbs
*.db